body {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: #3d3c3c;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

h2 {
  text-align: center;
  color: #3d3c3c;
}

p {
  
}
