body {
  background-color: rgb(255, 255, 255);
  background-image: url("IMG_0033.JPG");
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: #ec7762;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
