body {
  background-color: rgb(255, 255, 255);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_5aoWlm3cnHgpua8DnGaLp2d7WLpgOI40DfAqgs0y_KaoNKI");
  background-repeat: no-repeat;
}

h1 {
  color: #ec7762;
  text-align: center;
}
